body, html{
    margin: 0;
}

.nav{
    top: 0;
    position: fixed;
    position: absolute;
    width: 100%;
    top: -4px;
    text-align: center;
}

.nav a{
    overflow: hidden;
    text-decoration: none;
}

.content{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

figure{
    display: inline-block;
    margin: 60px;
}

figure img{
    vertical-align: top;
}

figure figcaption{
    text-align: center;
}